.header {
    display: flex;
    flex-direction: column;
    gap: 71px;
    max-width: 1860px;    
    margin: 50px auto 199px auto;
}

.header .header-top {
    display: flex;
    justify-content: space-between;
    margin: 50px auto 0 auto;
    max-width: 1800px;
    width: 100%;
}

.header .header-top .left-side {
    display: flex;
    gap: 65px;
    align-items: center;
}

.header .header-top .left-side .logo-container {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header .header-top .left-side .logo-container .burger-menu .burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.header .header-top .left-side .logo-container .burger-menu .burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 22px;
    height: 14px;
}

.header .header-top .left-side .logo-container .burger-menu .burger::before,
.header .header-top .left-side .logo-container .burger-menu .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: #000;
}

.header .header-top .left-side .logo-container .burger-menu .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.header .header-top .left-side .logo-container .burger-menu .burger::after {
    bottom: 6.5px;
    transition: bottom .3s .15s, transform .3s;
}

.header .header-top .left-side .logo-container .burger-menu .burger-checkbox:checked + .burger::before {
    top: 2px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.header .header-top .left-side .logo-container .burger-menu .burger-checkbox:checked + .burger::after {
    bottom: 10px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

.header .menu {
    display: flex;
    gap: 40px;
}

.header .menu .menu-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}

.header .menu .menu-item:hover,
.header .menu .menu-item.active {
    color: #FF8E8E;
}

.header .header-top .left-side .menu .menu-item.active .arrow-default {
    display: none;
}

.header .header-top .left-side .menu .menu-item.active .arrow-hover {
    display: inline-block;
} 

.header .header-top .left-side .menu .menu-item .arrow-hover {
    display: none;
}

.header .header-top .left-side .menu .menu-item:hover .arrow-hover {
    display: inline-block;
}

.header .header-top .left-side .menu .menu-item:hover .arrow-default {
    display: none;
}

.header .header-top .left-side .logo-container .logo {
    display: flex;
}

.header .header-top .right-side {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header .header-top .right-side .header-icon {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header .header-top .right-side .header-icon .counter {
    min-width: 20px;
  height: 20px;
  background-color: black;
  color: white;
  border-radius: 50%;
  padding: 0 6px;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.header .header-top .right-side .header-icon {
  position: relative;
}


.header .header-middle {
    display: flex;
    gap: 150px;
    position: relative;
}

.header .header-middle .content-and-decoration {
    max-width: 850px;
    width: 100%;
    position: relative;
}

.header .header-middle .content-and-decoration .content {
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin: 121px 278px 20px 390px;
}

.header .header-middle .content-and-decoration .content .title {
    font-family: Josefin Sans;
    font-size: 80px;
    font-weight: 400;
    line-height: 80px;
}

.header .header-middle .content-and-decoration .content .menu {
    gap: 12px;
    border-left: 1.5px solid rgba(0, 0, 0, 1);
    padding-left: 12px;
}

.header .header-middle .content-and-decoration .content .menu .menu-item {
    font-weight: 500;
    line-height: 14px;
}

.header .header-middle .content-and-decoration .container-middle-line {
    max-width: 850px;
    width: 100%;
}

.header .header-middle .content-and-decoration .container-middle-line .middle-line {
    position: absolute;
}

.header .header-middle .content-and-decoration .container-points {
    position: absolute;
    top: 0;
    left: 60px;
}

.header .header-middle .photo {
    width: 800px;
    height: 400px;
    background-color: rgba(241, 242, 243, 1);
}

.menu-item .menu-link {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  color: inherit;
  text-decoration: none;
}

.menu-item.active .menu-link {
  color: #FF8E8E;
}
